/*Subtitulo*/

.subtituloPrincipal {
  background-image: linear-gradient(to bottom, violet, rgb(238, 138, 191));

  h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10%;
  }
}